<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "424 - Costa Rica" %></title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= stylesheet_link_tag :site %>

    <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
    <%= javascript_include_tag :all %>

    <% if build? %>
      <%= partial "partials/googleanalytics" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <div class="site-container">
      <%= partial "partials/application/header" %>
      <div class="site-inner">
        <main class="content">
          <%= yield %>
        </main>
      </div>
      <aside class="sidebar">
        <%= partial 'partials/application/sidebar' %>
      </aside>
    </div>
  </body>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <%= javascript_include_tag :all %>
</html>
