<section id="conciertos">
  <h2><small>Próximos</small><br/>conciertos</h2>
  <!-- Agregar condicional para que sólo se usen los conciertos que están en el futuro -->
  <% data.contenidos.conciertos.each_with_index do |concierto, i| %>
    <div class="concierto">

      <div class="daterow">
        <div class="date">
          <% I18n.locale = :es %>
          <%= I18n.localize(concierto[1].fecha, :format => "%e de %B")  %>
        </div>
        <div class="venue"><%= concierto[1].venue %></div>
        <div class="location"><%= concierto[1].ciudad %>, <%= concierto[1].pais %></div>
        <div class="botones">
          <%= link_to 'Comprar Entradas', concierto[1].comprarEntradas, :class => 'button comprarEntradas', :target => "_blank" %>
        </div>
      </div>

      <label for="showblock">Ver detalles</label>
      <input type="checkbox" id="showblock" />

      <div class="detalles" id="concierto-<%= i %>">
        <%= simple_format(concierto[1].descripcion) %>

        <%= "<p><strong>Se admiten menores de edad</strong></p>".html_safe if concierto[1].menoresDeEdad == true %>

        <!-- meterle título y marker a la dirección. Mejorar los links de location un poco -->
        Dirección: <%= concierto[1].direccion %>
        <br/>
        <%= link_to '<i class="fa fa-map"></i> Ver en Google Maps'.html_safe, "http://maps.google.com/?ie=UTF8&hq=&ll=#{concierto[1].location.map{|k,v| "#{v}"}.join(',')}", :target => "_blank", :class => "googlemaps" %>
        <%= link_to '<i class="fa fa-map-marker"></i> Abrir en Waze'.html_safe, "waze://?ll=#{concierto[1].location.map{|k,v| "#{v}"}.join(',')}", :target => "_blank", :class => "waze" %>

        <%= link_to '<i class="fa fa-facebook"></i> Evento en Facebook'.html_safe, concierto[1].facebookEvent, :class => 'facebookEvent', :target => "_blank" %>
      </div>

    </div>
  <% end %>
</section>
